/* Comentario Aula de CSS*/

p{
	color: white;
	font-size: 20px;
	font-family: "Helvetica",arial;
}


body{
	background-color:black;
}

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
header{
	background-color: white;
	height: 70px;
	padding: 20px;
}
/*erro na linha 25 pesquisa*/
footer{
	background-color: white;
	height: 25px;
text-align: center;
padding: 10px;
}
h1{
	color: Gray;
	text-shadow: 1px 1px 1px #111111;
	text-align:white;
	margin: 0 0 50px 0;
}
#principal{
	background-image: url('teresina_poty.jpg');
	clear: both;
	background-size: 100%;
	min-height: 500px;
	padding: 100px 0 0 0 ;
}
#logo{

	float: left;
}
#menu{
	margin: 25px;
	float: right;
}
#menu a{
	padding:48px 20px;
	text-decoration: none;
	color: black;
	/*text-shadow: 1px 1px #111111;*/

}
#menu a:hover{
	background-color: gray;
	color: black;
}
.container{

    width: 960px;
    margin: 0 auto;

} 
.efeito{
	background-color:rgba(0, 0, 0, 0.5);
	padding: 50px 0 50px 0;
}

